<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp1jNFW3f4TC5ZydoNMn2KRSYzrcQ" Guid="{F0750407-C54A-4786-ADCC-9107823C55D8}">
                <File Id="fil9lxhGDqGZ2ei4Lso0B08j89vPLk" KeyPath="yes" Source="$(var.BasePath)\AdvancedSkills.txt" />
            </Component>
            <Component Id="cmpDSGGeDFo2AsbSrbqFJnkvQ2ahLM" Guid="{6B2B8FC2-0474-4AFF-A60A-5BA42BBD7763}">
                <File Id="filTnqir8plLW_W3SdHyVySGbNLCeI" KeyPath="yes" Source="$(var.BasePath)\Quests.txt" />
            </Component>
            <Component Id="cmp5m.3X3VqzNgomGbOVaBnSYseOnQ" Guid="{566070E2-5ACB-44F2-802C-EE3C4CEB7F4B}">
                <File Id="filRzok6775iaZ1jTUfDQqSBWCmhPA" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.deps.json" />
            </Component>
            <Component Id="cmpCDl9csrOFOqqrs8i0gy0AiafQVM" Guid="{0F48818D-E104-4DD0-B6DA-A4502C9028D2}">
                <File Id="filnHs5TVAauZTjj2yqa1MxrgsMWCQ" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.dll" />
            </Component>
            <Component Id="cmpxuW2g8iq1IOgEZCaQZ41FWeDWRY" Guid="{CA8151DB-35A1-4E2F-985D-A9051DAC74B6}">
                <File Id="filC84K3TJW9jL9OXtKAw9gXsxER9E" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.runtimeconfig.json" />
            </Component>
            <Component Id="cmp16IgY9t_fazmSPUoQ1CRWC.rJPU" Guid="{2EFA8389-08CD-4FD1-9A6E-73C227A1A438}">
                <File Id="filQo_S0vwWXTaJurTerecEMWaDKME" KeyPath="yes" Source="$(var.BasePath)\Skua.exe" />
            </Component>
            <Component Id="cmpBTF1QW_ZZrRWEO1zA11EyTQIu_A" Guid="{356F23EF-E04B-47EC-9E55-AF4C21B47C7C}">
                <File Id="filJzCg23Gu5._9kFkBug0_lXDv5y4" KeyPath="yes" Source="$(var.BasePath)\skua.swf" />
            </Component>
            <Directory Id="dirOit0dm4bCDatToFS3HRsSegabCM" Name="Assemblies">
                <Component Id="cmp76NgR1ug5r_dWRvSGvqCA2TRe0I" Guid="{68BD2785-DA59-47BC-BFD5-BFBB285B1BC4}">
                    <File Id="fili_kBzYaHfhgJ.IE24xhhq4gc9k8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\AxInterop.ShockwaveFlashObjects.dll" />
                </Component>
                <Component Id="cmpv1hRnTuIyEw8HTLR.TOmcv6RcHk" Guid="{F0293530-8780-4A98-B61D-322B17BFBD48}">
                    <File Id="filRgwU5CPEoWCTOWWQPmnHMPACXW4" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CommandLine.dll" />
                </Component>
                <Component Id="cmpeyEdtaRR0DJwykzBAf7.88L7MFc" Guid="{EA5D18CC-DDDC-4C96-BAE4-234B8B04B4CF}">
                    <File Id="filpF0K3gHLP1JNwE7JHlqMVWd8a8E" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CommunityToolkit.Mvvm.dll" />
                </Component>
                <Component Id="cmpxjDK3X.F5CGQ4g.FHn37U1Wq1cE" Guid="{C69B6657-F817-42BE-A4F1-89171A347CD9}">
                    <File Id="filtICz0x.xYGYKIFzVYmn4zSmkJX4" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CoreHook.dll" />
                </Component>
                <Component Id="cmpqAJ_uP7nhj_ifyrHNxsjBNj.hUY" Guid="{CAD51EBA-709A-40A7-9FFB-81DBDC76C3CF}">
                    <File Id="fil.E6MUxBrc8nBw0lXeQnnelWzp1A" KeyPath="yes" Source="$(var.BasePath)\Assemblies\corehook32.dll" />
                </Component>
                <Component Id="cmpg9xqCg_X_Ye_2ppUmSVvugcrrQI" Guid="{59281637-3603-4BBC-937F-86E3CFCB6CAB}">
                    <File Id="filEoTHntTOc91Ng9JEsHhfPHXxTJs" KeyPath="yes" Source="$(var.BasePath)\Assemblies\corehook64.dll" />
                </Component>
                <Component Id="cmpTFRuT2tca4GI3pybuRiHv1s4lCI" Guid="{A38E6E80-603E-4823-B46A-CD29E936857E}">
                    <File Id="filxliFBzrLdwcDqp3XZ0PoPezdRY8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\coreload32.dll" />
                </Component>
                <Component Id="cmpAalQni6rKhKfftMQpwteB4Q43bE" Guid="{D3A56BD3-D5AA-422C-8BEA-150B7BC6779E}">
                    <File Id="filb6cHnfPx463ND44f5XW_pM23WqM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\coreload64.dll" />
                </Component>
                <Component Id="cmpYUsAQD5_H4lkZaOFihdt1lq8tJA" Guid="{757965A3-0845-4C3C-836C-BAB5BE9F435E}">
                    <File Id="filmQEfjv69Ue0XqJHG_Ib5bFc048c" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Hardcodet.NotifyIcon.Wpf.dll" />
                </Component>
                <Component Id="cmpapyxUwF5dGOyWg78m8WDqyfk4lM" Guid="{DE82682B-106E-4629-B2B7-3D9E65E3AE18}">
                    <File Id="filfgte.n1u_ZB.lS4OLQoRF6EJY3g" KeyPath="yes" Source="$(var.BasePath)\Assemblies\ICSharpCode.AvalonEdit.dll" />
                </Component>
                <Component Id="cmp90cGoq76VXAUDWy0_drsw8J4OFI" Guid="{DEE6F5D9-2C00-47C0-9F3D-8C9981EF12BA}">
                    <File Id="fila6ANyFloZGdMinaGF79fRA5L2uw" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Interop.ShockwaveFlashObjects.dll" />
                </Component>
                <Component Id="cmpo6sOvF.6gNCyka0_kfH5DbLcAF0" Guid="{B533AB5D-0C89-49C2-8A76-06AC5E415FA0}">
                    <File Id="filJRkx1As1dx7P_baZFpQblYR4mho" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MaterialDesignColors.dll" />
                </Component>
                <Component Id="cmp34f515Kgos6k.4W9mKFZRz1XtkE" Guid="{92D633DE-C9D7-4800-A898-6014315B264F}">
                    <File Id="filiBpMBYgnZGredvTI2HU0j4E4XDE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MaterialDesignThemes.Wpf.dll" />
                </Component>
                <Component Id="cmpU86PzXQ9SSPdEag9wEQwGrFLWIw" Guid="{6E29F87D-E550-4C9F-BF52-C77CA94E37C0}">
                    <File Id="filjXOd6YHbYJXx07Y7mfbX1Nf78NM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MdXaml.dll" />
                </Component>
                <Component Id="cmpF7UTkP4.iHa89YUQpDP4r92gzyM" Guid="{CF1BA464-C9E0-4D43-86CC-7224A4420F4F}">
                    <File Id="filGuqWWw.0Lak1mqlkkF_e_Wx9uF0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MdXaml.Plugins.dll" />
                </Component>
                <Component Id="cmpEVzVxMzhEICnbbsNam6ZSszhKB4" Guid="{854F0C78-D2B0-4211-8FF9-0CADF979B309}">
                    <File Id="fil3m9mdTpIaVOlq0_TkEeuS056KKE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.CSharp.dll" />
                </Component>
                <Component Id="cmpa4NLJqlTYp._bXq4TM_MAIjJRBM" Guid="{3F9BA7F3-9964-4571-8B4B-EEE2A1D63106}">
                    <File Id="filfoItlGLxekp_9V25ZAp5Hz5LNxo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.dll" />
                </Component>
                <Component Id="cmp8gYc93fFKeipa4BxL7DMHfwLNcM" Guid="{300A79D7-8E5F-4F5B-AA2B-32AFAD711FAC}">
                    <File Id="filglW.BztdFzkxh3LC.pmoPxFvW5Q" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.Scripting.dll" />
                </Component>
                <Component Id="cmpEZ5oVtMB2JU3ySArlAAxkZcwgfY" Guid="{B41B3CC6-8410-430C-99D0-93F19868EBA4}">
                    <File Id="fil0kcMqmEBRH6HCBV7AmxiUKvOyPk" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
                </Component>
                <Component Id="cmpMlyimaLaGACmtcStHx0evR0Iq0k" Guid="{4123AC3E-0D13-4A33-ABB6-9632F5B5C75C}">
                    <File Id="fil9cJnaNzurQNbq2UYzxAKTsqgRc8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Extensions.DependencyInjection.dll" />
                </Component>
                <Component Id="cmpCMGyk6cuM1Fa.r7HygS_nHm0haU" Guid="{EBF4D3EC-0FD4-448B-8988-B760649C73BD}">
                    <File Id="filGxpIk7kVElbe9tV2rM23Od2rlMI" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Xaml.Behaviors.dll" />
                </Component>
                <Component Id="cmpr7yJ11NeAJFnhycNWfuGfswmhuk" Guid="{5A025071-813A-4CAA-B000-D84ECBFAB8A5}">
                    <File Id="filEXSO7nDCW7vDDAypY9I.vurYR7A" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Newtonsoft.Json.dll" />
                </Component>
                <Component Id="cmpUgZM.GruUNhj_f.VW41RB5VQ6Dc" Guid="{0214DA3C-59DA-454E-96C0-689BBAD42B1B}">
                    <File Id="filikivfbCed4wbE01JGbtHf4isAoI" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Ookii.Dialogs.Wpf.dll" />
                </Component>
                <Component Id="cmpbCnbEzfz6x.k1QwVODi_NvnURbs" Guid="{A701BFA3-6B5E-40E6-BB72-9EB0873F392D}">
                    <File Id="fil_7if9rvmQ74xz4ub1O5pUNLvAwc" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.App.WPF.pdb" />
                </Component>
                <Component Id="cmpZsDKwJPhHLdTEqgNZrdpcddDvZc" Guid="{8AAEA90A-50D6-41EF-A8E1-BDB277CDDD56}">
                    <File Id="filMcd_wKlsy3nS_VKG7vMieh0NBro" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.dll" />
                </Component>
                <Component Id="cmppN79cNWmdoe9svQXszvyURaVG8U" Guid="{682E8814-6BCE-4ECE-8025-A61E392D2D8F}">
                    <File Id="fil8EI8NkDupHGRazcV2dx6NTov5Lo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.dll" />
                </Component>
                <Component Id="cmpjwQEKti5i0hubIiPFWe5g0_gjdY" Guid="{58B77E30-686F-4362-9A4C-DCA45805371F}">
                    <File Id="filBvMnpzIXFgv6FWwhMxhbwQiXTk8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.pdb" />
                </Component>
                <Component Id="cmpq8Pq.Vm4MMCvkd_6MoVrL2wpZHk" Guid="{A3749782-01C9-492D-8378-F3A57EB9BE4C}">
                    <File Id="filIVrScc610GzR9eBJm8S3b7wjRLQ" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.xml" />
                </Component>
                <Component Id="cmpMMlcpLmrIKRKm32jJeNR1H2RX3Y" Guid="{07E363EB-769F-4F27-906E-62BCDD9266E0}">
                    <File Id="fil5k4mND11YU3bhn.cmqi76IRlTtY" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.dll" />
                </Component>
                <Component Id="cmpjI5cJaRsiYHVHzVrkfOwYtcpGOg" Guid="{BEC59F5F-F090-4C26-8661-C9B6473B9A3E}">
                    <File Id="filWyWEMxXoXTQ0ZKmiG6j4UbtekN0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.pdb" />
                </Component>
                <Component Id="cmpKA3f6mkU0wnYnOmvyEM4J7GNGdc" Guid="{B21707BA-38B3-4189-A5EC-F4CEA3E0C962}">
                    <File Id="fil_WSTOD7ghl2eOhu06qVOwQIqrwU" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.xml" />
                </Component>
                <Component Id="cmpvWm3IMoVXVXlKCv1Y4zYgq1U_3Y" Guid="{DA91CD17-11F5-42B0-8229-13307EEC04D4}">
                    <File Id="filpHtxp52sF92eq7JaQrVFifPnlIo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.pdb" />
                </Component>
                <Component Id="cmpB_Gx_SinMoDsOzsgeiEvFqEF.k8" Guid="{18BF35C5-F828-4B16-9422-27F5CC16F89C}">
                    <File Id="fil7pBwRlfgpnpuZWY20DT8I1HCy2s" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.dll" />
                </Component>
                <Component Id="cmpjlmlIKGeGq86HE2329.kEotx3kA" Guid="{4AFC75E3-017E-44DE-9110-540139293446}">
                    <File Id="filz9PNR38eaNZwx3ee6nUwIouIYcE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.pdb" />
                </Component>
                <Component Id="cmpNMPP8D8914YVwpSPT1VV7yFcKfE" Guid="{46BB9488-16C8-4F6A-9325-5533AE021EF9}">
                    <File Id="filCgZeIv9H.6QP3Mmn_96g75bO0x0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.xml" />
                </Component>
                <Component Id="cmpOIZKPUqZJkQtmIcSQl2xJDTr.pA" Guid="{03DE470E-9874-41D8-9FD2-3A8D5C84707E}">
                    <File Id="filS.8xcJtFZjyY676HNvrGYYqiWeE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.xml" />
                </Component>
                <Component Id="cmpir87lYjO6bRxezEOdUl5mM0KNFg" Guid="{CC51DC29-A7E2-487A-B1C7-CB03EB7637C3}">
                    <File Id="filZD48ZcUVrDDtBgPcN4OxXJTUkSs" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.WPF.dll" />
                </Component>
                <Component Id="cmpSAE.v_lE_V97jwgjGm4iixutvrE" Guid="{B6042553-7F48-4CB5-B79F-09AF0C3998EB}">
                    <File Id="fil19HxE5qXg0T7uuq2vrmXofFE0vM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.WPF.pdb" />
                </Component>
                <Component Id="cmpkUcXKeDNTEtxDRi7ufyMYI6rhZk" Guid="{544B13F1-9F95-4438-9759-8DC17187ECF2}">
                    <File Id="filylIQk6JFC3wSw.nBM5C2jzs8esE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\System.IO.FileSystem.Watcher.dll" />
                </Component>
                <Component Id="cmphd1wYH18HgcrwcgM.yn95ziTilI" Guid="{BBF941DB-BC31-47AB-881F-93C554E9F0AC}">
                    <File Id="fil9Jj1ITschyHH6H0829rDLhI7h9U" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Westwind.Scripting.dll" />
                </Component>
            </Directory>
            <Directory Id="dirLY7M72oAxdEthNwms2DynWzkJUg" Name="FFDec">
                <Component Id="cmpgzTT232Q52zGmghbZjU9TCBYODU" Guid="{0EAF20B6-7699-4DB9-8E3E-5AD22E91C266}">
                    <File Id="filcUvO.YXGJzlu1mCMXpm9d9RlbOY" KeyPath="yes" Source="$(var.BasePath)\FFDec\ffdec.bat" />
                </Component>
                <Component Id="cmpW61I7dLIB0FX59I4zYZsCoxxH4c" Guid="{8E4504EB-142D-44FF-B866-4F6D854BB9C4}">
                    <File Id="filzTDC6kUGNAz46Wu0xysKeIYMIR8" KeyPath="yes" Source="$(var.BasePath)\FFDec\ffdec.jar" />
                </Component>
                <Directory Id="dirsiUHuPUDRIChrXcta5.PSX.3thU" Name="lib">
                    <Component Id="cmpp.ehpjfePsG.djgYNTagYFm4S60" Guid="{BA03754B-93E7-481F-887E-4E350EC493DD}">
                        <File Id="filRQBVvgnXuomhDCRwpIr1u40UUow" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\avi.jar" />
                    </Component>
                    <Component Id="cmp5YinyJaCP.aYkL4lsomf0_Jo0dc" Guid="{1B0060A3-3C9D-4363-809D-21546B0932C7}">
                        <File Id="filGlMFCPl6TqUxN4_05pnHT72qcTQ" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\avi.montemedia.license.txt" />
                    </Component>
                    <Component Id="cmpk7CUUw8FulaEpEglSdx.YtUQYc8" Guid="{9A60CB89-36FB-4E8C-BE23-78A96D24F9D6}">
                        <File Id="filMKj.cx7kUF5DaMt4I1vpFVQIpFA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\cmykjpeg.jar" />
                    </Component>
                    <Component Id="cmpdW513xVr9_JIBXqVMEcb1KSihYk" Guid="{A12BB990-7DFD-4851-89D2-850DA92A4AB2}">
                        <File Id="fildOHZNEFLxlXIe9jdycfRzWLWIy0" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ddsreader.jar" />
                    </Component>
                    <Component Id="cmprMJwWQ3SHV4HLVt99EH4TKFtQWg" Guid="{9159D47D-3E2A-4CD8-9C62-05C79B0AC5D0}">
                        <File Id="filGK.XMcLxy6xZb1L1Bb2QQx2ZzzI" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ffdec_lib.jar" />
                    </Component>
                    <Component Id="cmpl8Oxd0q3uSxkPd8hdc7Q4wMk9oU" Guid="{AA2717BD-CF42-49F3-8BAB-4327E15236B4}">
                        <File Id="filOfpmZefI8FXge6AQJITPhHIXJlA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ffdec_lib.license.txt" />
                    </Component>
                    <Component Id="cmpzx2fBZci1yPUqpyzGvtlQwSxYVo" Guid="{FEE3BE4D-FFC2-4552-B3B1-32F9AEFAA555}">
                        <File Id="fil81mS5Xh37zHT.Jyy4IGTA1H9yL8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpQewNmJncYyKlBroFTt9VsEEOkII" Guid="{601CBAA4-C957-48CF-8A12-28B08E90CFE1}">
                        <File Id="filwe6YjWkUXmyF71013Egv320PaUw" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpkLO9mZyF40JYADYMnRspu0BnR.4" Guid="{2D1306F1-4992-4801-9E25-CC20A30FB77F}">
                        <File Id="fil_e6ule.2YehaVMFdZa29j_Zsnh4" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flashdebugger.jar" />
                    </Component>
                    <Component Id="cmpgjVGDo6k.uUj5BIE6hcF2ctyxwE" Guid="{D28029EC-0731-4401-A2BB-7A76F9F8CB77}">
                        <File Id="filMTAX0GyHrdg5KzrbFwz4bBAgF5A" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gif.jar" />
                    </Component>
                    <Component Id="cmpfGuUA2vGjMsfYh8kS1G_0_olI54" Guid="{F11D1043-EBE5-4F19-80E2-0934AEA8B767}">
                        <File Id="filP1Bylu7.lq0xyNtR2S8rZHwpvI8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gif.license.txt" />
                    </Component>
                    <Component Id="cmprRTlvS3Jl7x1O7sZ6u2wmdAdGZQ" Guid="{09E9CC4F-392B-4096-9001-77380821D487}">
                        <File Id="filuYkstT0SzOZpJxsu_br768DOSN0" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gnujpdf.jar" />
                    </Component>
                    <Component Id="cmpMHHAQ4ntT4Gv1cSGVYcqNgJoAlk" Guid="{4358D6D7-D632-481F-A6D7-F4FCC84E3F1E}">
                        <File Id="filMb8Gapq.4WS16sTbd9caNLTnLO8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\graphs.jar" />
                    </Component>
                    <Component Id="cmpMhMsid5395FXSJKw73zqlMzUv_4" Guid="{AF2ACDDF-3A85-4F54-B14D-9F2F90F06E2E}">
                        <File Id="fil7gFCOlCO8QsDpDphHAoo3jvoH9E" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jargs.jar" />
                    </Component>
                    <Component Id="cmpfjx8DnPRViuoI2viIq1DjLs5eNw" Guid="{7C59A596-E0A3-4B84-ACF5-72AAFEF83D53}">
                        <File Id="fil1PuE_hL0ZfynQwsFOtz1XKcMDHg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\JavactiveX.jar" />
                    </Component>
                    <Component Id="cmpSKT2A8s0lOxYc44grQCBBDrCB4o" Guid="{BACB4ACC-3E67-4C59-90F9-1E348E6126AE}">
                        <File Id="fil_IHS6XySH88DRasnCv1kDR526.o" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jl.license.txt" />
                    </Component>
                    <Component Id="cmpXng2mZYWQ0rCxZzUrQVbvWJUH6M" Guid="{C0F06743-5E1B-417A-AF01-1206C1B2D6EE}">
                        <File Id="filG.ulVrMvP1fMdY6KsTVj2zElye4" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jl1.0.1.jar" />
                    </Component>
                    <Component Id="cmpreO5wElVRl9haN.9hdEXDE2bxPI" Guid="{B04A4CC2-3061-4F33-AF00-1EA956F2C3AC}">
                        <File Id="filzdN7gdG7vM4gBxksefv1mhqhK_A" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jna-3.5.1.jar" />
                    </Component>
                    <Component Id="cmp4nm8Ry9I07cIRpOeJdLGWj7EmAw" Guid="{5A91EE78-F641-41B1-8850-D457E27E544D}">
                        <File Id="fil5B4u88FieNOQWZ1D9bd2TMtdY6k" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jna.license.txt" />
                    </Component>
                    <Component Id="cmpIR1gcAa.3VC1qRTgCwhOmgaXsSM" Guid="{06DCEE9D-EECB-4B16-8CB8-16005D3EAD12}">
                        <File Id="filAT7Q6P4a4OdssRrPnNpre5Vk3BA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpacker.jar" />
                    </Component>
                    <Component Id="cmpeYdhlCJ1bBnZcsEaIbtpPtkiBVo" Guid="{88794DF0-A650-49A4-A305-1C0E0F30AE99}">
                        <File Id="filoS0LjO1q6viMba4Lvnx33c_j1Wk" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpacker.license.txt" />
                    </Component>
                    <Component Id="cmp_uLGgbRwLaGklgqGVH24QXobXaU" Guid="{87EA6551-A263-48F8-99AC-1E11D47D1EF9}">
                        <File Id="fil8Gr2FsdN3DuC8KAo9JMhWqPxEng" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpproxy.jar" />
                    </Component>
                    <Component Id="cmpI8.e_gEWCIGLbSA_KX8CASmI54c" Guid="{D5052646-6316-4957-8657-0737EE09CDED}">
                        <File Id="filscCI8pfDQXp_XYvGflLMgXaasSo" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpproxy.muffin.license.txt" />
                    </Component>
                    <Component Id="cmpk34fWYBOvQBkKARk9TMePiYXzk4" Guid="{F95EF457-3D38-4795-A0DC-9061969D86B0}">
                        <File Id="filgMMRYEYvMksUWjp31MFmuqOwzsE" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jsyntaxpane-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpTHFvmggxeLUd74bosHyun0y42A0" Guid="{C25E7D72-2940-49A3-B216-2241007E2418}">
                        <File Id="filgVVg9drrkoujZ0lZ_DUU5QI3VVg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jsyntaxpane.license.txt" />
                    </Component>
                    <Component Id="cmp.QOEH2XZxbTwcwZp8pJDUCzG.Yc" Guid="{C9192228-EAF2-4AF8-A29C-3CCF93DA4919}">
                        <File Id="fil44v78XsMitaYUoBAF5Yq5Z.FCKA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\LZMA.jar" />
                    </Component>
                    <Component Id="cmpA2I1JA4g8lbdxXaQoBsKVq0FlyA" Guid="{04FEB455-C7C0-44B9-9DCD-84924310A6D5}">
                        <File Id="fil892Pcoro6OasEhWEd_5bHtomwsU" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\minimal-json-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpSTKUWxf8X0UozoKirr_fyKqIKRM" Guid="{F3A55D3F-7D95-404D-B998-6242C4584D28}">
                        <File Id="filB5O99gsFh7n9_q0MB2aAzAexe1g" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\minimal-json.license.txt" />
                    </Component>
                    <Component Id="cmpx4ftLfI98fGQJbLh3LGc65Ns6u8" Guid="{34B5074F-30FA-4113-8B24-26BE5FA961CF}">
                        <File Id="filEmVqBoEs2KlIMtbZQ9mLtMtoVJI" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\nellymoser.jar" />
                    </Component>
                    <Component Id="cmpk1oP1FOUk4YK6zxby7wD9ky9aDo" Guid="{E8922C1B-FA98-413A-9153-E79F828F0441}">
                        <File Id="filpLSOyTgEhOoTYcDyTeQ30FOk.iw" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\nellymoser.license.txt" />
                    </Component>
                    <Component Id="cmpdtMhAH.R2YW29wRGSUyHfhhX47U" Guid="{1ECC08FB-49F6-4E21-AEB5-0B6FA9075FE0}">
                        <File Id="filRnmr7jM54UHTKaolx_m_usF9eW8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\sfntly.jar" />
                    </Component>
                    <Component Id="cmpRVlNpsBkFZc88QFC8RzshZUiGXQ" Guid="{F2D9487F-96F5-4E98-AB2A-F93346469DA0}">
                        <File Id="filgzZMqco2IuuZdx5SMiw7mx9WSvM" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\sfntly.license.txt" />
                    </Component>
                    <Component Id="cmpJFAaDAFZKvvNmxCLAD0D1ZVxLlM" Guid="{B31A59EA-5DBB-4642-900F-DD533EC1D234}">
                        <File Id="filgkSex4hHeqKy8yQO.VGLbES7Qtg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-6.2.jar" />
                    </Component>
                    <Component Id="cmp_1hsazVz2twEkgZt0KEzKFMtTec" Guid="{AD7FB6D2-5B37-4268-8F9D-1E94841F0EE4}">
                        <File Id="filoWph6_I7JzK8tUCsQS_h2VADV.w" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpcns8.PpZdvL8VvkDcP_klnIk5lU" Guid="{FAC476C6-2890-4302-A887-74713ACD1897}">
                        <File Id="filpCSh063Tp9FUigiaUs3TOSoPiWA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpxIszz6BxL4noS2EgaTgLTtYg8C8" Guid="{EC11E600-5ACC-45CA-A593-C867A44CA3C2}">
                        <File Id="filtZMRcv8ZhCBYKk82pWyeov1y.1c" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance.license.txt" />
                    </Component>
                    <Component Id="cmp2VtU3z4rhmTOkIY8jZKz9J1em.8" Guid="{7A8B1C16-05E7-4A4B-BA2A-3965F118FC35}">
                        <File Id="filcpyhFML3u4ofTlRJ1sOLkr9uvYg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\tablelayout.jar" />
                    </Component>
                    <Component Id="cmpqU2XDeo4M7g1sCVK_Z3dquv8wos" Guid="{0E2FE37C-03C4-42D6-A368-20D23289A167}">
                        <File Id="fil2M8Q_ZUtmPj62PdXp_O0DBHCRUg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\treetable.jar" />
                    </Component>
                    <Component Id="cmpQmAZ_6o7u70fRySmsOsMl3QSen8" Guid="{ED65A854-C538-4E04-B351-236F0A697AB3}">
                        <File Id="filpcvEkDNdxChOhls3xrBf2jyDtVo" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\trident-6.2.jar" />
                    </Component>
                    <Component Id="cmpGbjewESon5ScOIYreJcODqtzrf8" Guid="{1C75FE64-0E43-40AB-83B9-AE0BB623AF9B}">
                        <File Id="filQZjqZIHSJq8GNf66AsE5DT.gt_w" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\trident.license.txt" />
                    </Component>
                    <Component Id="cmpEFXf22C9zzrSPnlnLshVCHUOy3w" Guid="{20670C55-CCFE-4CDF-9605-85D1F982F617}">
                        <File Id="fildOVuR.FkKlJXrQeP1neosahHbbU" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.doubletype.license.txt" />
                    </Component>
                    <Component Id="cmpfT3DSY8s394d_lLei6Dae7uiVzI" Guid="{64FA9E79-54DE-4AB7-9457-3C7DEBA14C86}">
                        <File Id="filBXxqHaFzPpQqalipUsoGF_.uOzY" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.fontastic.license.txt" />
                    </Component>
                    <Component Id="cmpjkk10WRv4giDJTfYvX_I.5P6z58" Guid="{1C28B44E-7C65-48AF-8954-A28F99257791}">
                        <File Id="filDb7M5evVNU8Qr_RUuLRkE0aWNG8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.jar" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SkuaPublishedComponents">
            <ComponentRef Id="cmp1jNFW3f4TC5ZydoNMn2KRSYzrcQ" />
            <ComponentRef Id="cmpDSGGeDFo2AsbSrbqFJnkvQ2ahLM" />
            <ComponentRef Id="cmp5m.3X3VqzNgomGbOVaBnSYseOnQ" />
            <ComponentRef Id="cmpCDl9csrOFOqqrs8i0gy0AiafQVM" />
            <ComponentRef Id="cmpxuW2g8iq1IOgEZCaQZ41FWeDWRY" />
            <ComponentRef Id="cmp16IgY9t_fazmSPUoQ1CRWC.rJPU" />
            <ComponentRef Id="cmpBTF1QW_ZZrRWEO1zA11EyTQIu_A" />
            <ComponentRef Id="cmp76NgR1ug5r_dWRvSGvqCA2TRe0I" />
            <ComponentRef Id="cmpv1hRnTuIyEw8HTLR.TOmcv6RcHk" />
            <ComponentRef Id="cmpeyEdtaRR0DJwykzBAf7.88L7MFc" />
            <ComponentRef Id="cmpxjDK3X.F5CGQ4g.FHn37U1Wq1cE" />
            <ComponentRef Id="cmpqAJ_uP7nhj_ifyrHNxsjBNj.hUY" />
            <ComponentRef Id="cmpg9xqCg_X_Ye_2ppUmSVvugcrrQI" />
            <ComponentRef Id="cmpTFRuT2tca4GI3pybuRiHv1s4lCI" />
            <ComponentRef Id="cmpAalQni6rKhKfftMQpwteB4Q43bE" />
            <ComponentRef Id="cmpYUsAQD5_H4lkZaOFihdt1lq8tJA" />
            <ComponentRef Id="cmpapyxUwF5dGOyWg78m8WDqyfk4lM" />
            <ComponentRef Id="cmp90cGoq76VXAUDWy0_drsw8J4OFI" />
            <ComponentRef Id="cmpo6sOvF.6gNCyka0_kfH5DbLcAF0" />
            <ComponentRef Id="cmp34f515Kgos6k.4W9mKFZRz1XtkE" />
            <ComponentRef Id="cmpU86PzXQ9SSPdEag9wEQwGrFLWIw" />
            <ComponentRef Id="cmpF7UTkP4.iHa89YUQpDP4r92gzyM" />
            <ComponentRef Id="cmpEVzVxMzhEICnbbsNam6ZSszhKB4" />
            <ComponentRef Id="cmpa4NLJqlTYp._bXq4TM_MAIjJRBM" />
            <ComponentRef Id="cmp8gYc93fFKeipa4BxL7DMHfwLNcM" />
            <ComponentRef Id="cmpEZ5oVtMB2JU3ySArlAAxkZcwgfY" />
            <ComponentRef Id="cmpMlyimaLaGACmtcStHx0evR0Iq0k" />
            <ComponentRef Id="cmpCMGyk6cuM1Fa.r7HygS_nHm0haU" />
            <ComponentRef Id="cmpr7yJ11NeAJFnhycNWfuGfswmhuk" />
            <ComponentRef Id="cmpUgZM.GruUNhj_f.VW41RB5VQ6Dc" />
            <ComponentRef Id="cmpbCnbEzfz6x.k1QwVODi_NvnURbs" />
            <ComponentRef Id="cmpZsDKwJPhHLdTEqgNZrdpcddDvZc" />
            <ComponentRef Id="cmppN79cNWmdoe9svQXszvyURaVG8U" />
            <ComponentRef Id="cmpjwQEKti5i0hubIiPFWe5g0_gjdY" />
            <ComponentRef Id="cmpq8Pq.Vm4MMCvkd_6MoVrL2wpZHk" />
            <ComponentRef Id="cmpMMlcpLmrIKRKm32jJeNR1H2RX3Y" />
            <ComponentRef Id="cmpjI5cJaRsiYHVHzVrkfOwYtcpGOg" />
            <ComponentRef Id="cmpKA3f6mkU0wnYnOmvyEM4J7GNGdc" />
            <ComponentRef Id="cmpvWm3IMoVXVXlKCv1Y4zYgq1U_3Y" />
            <ComponentRef Id="cmpB_Gx_SinMoDsOzsgeiEvFqEF.k8" />
            <ComponentRef Id="cmpjlmlIKGeGq86HE2329.kEotx3kA" />
            <ComponentRef Id="cmpNMPP8D8914YVwpSPT1VV7yFcKfE" />
            <ComponentRef Id="cmpOIZKPUqZJkQtmIcSQl2xJDTr.pA" />
            <ComponentRef Id="cmpir87lYjO6bRxezEOdUl5mM0KNFg" />
            <ComponentRef Id="cmpSAE.v_lE_V97jwgjGm4iixutvrE" />
            <ComponentRef Id="cmpkUcXKeDNTEtxDRi7ufyMYI6rhZk" />
            <ComponentRef Id="cmphd1wYH18HgcrwcgM.yn95ziTilI" />
            <ComponentRef Id="cmpgzTT232Q52zGmghbZjU9TCBYODU" />
            <ComponentRef Id="cmpW61I7dLIB0FX59I4zYZsCoxxH4c" />
            <ComponentRef Id="cmpp.ehpjfePsG.djgYNTagYFm4S60" />
            <ComponentRef Id="cmp5YinyJaCP.aYkL4lsomf0_Jo0dc" />
            <ComponentRef Id="cmpk7CUUw8FulaEpEglSdx.YtUQYc8" />
            <ComponentRef Id="cmpdW513xVr9_JIBXqVMEcb1KSihYk" />
            <ComponentRef Id="cmprMJwWQ3SHV4HLVt99EH4TKFtQWg" />
            <ComponentRef Id="cmpl8Oxd0q3uSxkPd8hdc7Q4wMk9oU" />
            <ComponentRef Id="cmpzx2fBZci1yPUqpyzGvtlQwSxYVo" />
            <ComponentRef Id="cmpQewNmJncYyKlBroFTt9VsEEOkII" />
            <ComponentRef Id="cmpkLO9mZyF40JYADYMnRspu0BnR.4" />
            <ComponentRef Id="cmpgjVGDo6k.uUj5BIE6hcF2ctyxwE" />
            <ComponentRef Id="cmpfGuUA2vGjMsfYh8kS1G_0_olI54" />
            <ComponentRef Id="cmprRTlvS3Jl7x1O7sZ6u2wmdAdGZQ" />
            <ComponentRef Id="cmpMHHAQ4ntT4Gv1cSGVYcqNgJoAlk" />
            <ComponentRef Id="cmpMhMsid5395FXSJKw73zqlMzUv_4" />
            <ComponentRef Id="cmpfjx8DnPRViuoI2viIq1DjLs5eNw" />
            <ComponentRef Id="cmpSKT2A8s0lOxYc44grQCBBDrCB4o" />
            <ComponentRef Id="cmpXng2mZYWQ0rCxZzUrQVbvWJUH6M" />
            <ComponentRef Id="cmpreO5wElVRl9haN.9hdEXDE2bxPI" />
            <ComponentRef Id="cmp4nm8Ry9I07cIRpOeJdLGWj7EmAw" />
            <ComponentRef Id="cmpIR1gcAa.3VC1qRTgCwhOmgaXsSM" />
            <ComponentRef Id="cmpeYdhlCJ1bBnZcsEaIbtpPtkiBVo" />
            <ComponentRef Id="cmp_uLGgbRwLaGklgqGVH24QXobXaU" />
            <ComponentRef Id="cmpI8.e_gEWCIGLbSA_KX8CASmI54c" />
            <ComponentRef Id="cmpk34fWYBOvQBkKARk9TMePiYXzk4" />
            <ComponentRef Id="cmpTHFvmggxeLUd74bosHyun0y42A0" />
            <ComponentRef Id="cmp.QOEH2XZxbTwcwZp8pJDUCzG.Yc" />
            <ComponentRef Id="cmpA2I1JA4g8lbdxXaQoBsKVq0FlyA" />
            <ComponentRef Id="cmpSTKUWxf8X0UozoKirr_fyKqIKRM" />
            <ComponentRef Id="cmpx4ftLfI98fGQJbLh3LGc65Ns6u8" />
            <ComponentRef Id="cmpk1oP1FOUk4YK6zxby7wD9ky9aDo" />
            <ComponentRef Id="cmpdtMhAH.R2YW29wRGSUyHfhhX47U" />
            <ComponentRef Id="cmpRVlNpsBkFZc88QFC8RzshZUiGXQ" />
            <ComponentRef Id="cmpJFAaDAFZKvvNmxCLAD0D1ZVxLlM" />
            <ComponentRef Id="cmp_1hsazVz2twEkgZt0KEzKFMtTec" />
            <ComponentRef Id="cmpcns8.PpZdvL8VvkDcP_klnIk5lU" />
            <ComponentRef Id="cmpxIszz6BxL4noS2EgaTgLTtYg8C8" />
            <ComponentRef Id="cmp2VtU3z4rhmTOkIY8jZKz9J1em.8" />
            <ComponentRef Id="cmpqU2XDeo4M7g1sCVK_Z3dquv8wos" />
            <ComponentRef Id="cmpQmAZ_6o7u70fRySmsOsMl3QSen8" />
            <ComponentRef Id="cmpGbjewESon5ScOIYreJcODqtzrf8" />
            <ComponentRef Id="cmpEFXf22C9zzrSPnlnLshVCHUOy3w" />
            <ComponentRef Id="cmpfT3DSY8s394d_lLei6Dae7uiVzI" />
            <ComponentRef Id="cmpjkk10WRv4giDJTfYvX_I.5P6z58" />
        </ComponentGroup>
    </Fragment>
</Wix>